

<div class="mx-auto" style="width: 200px;">
    <div >
      
     
            <div class="card-body">
                <div class="card-title"><h2>Inicio de sesion</h2></div>
                <label for="usernam"  >Usuario</label>
                <input type="text"  id="username" #username />
                <label for="pass" >Contraseña</label>
                <input type="password"   id="password" #password  />
                <br>
                <br>
                <button type="submit" (click)="login()"  class="btn-primary form-control" >Iniciar Sesion</button>
               
            </div>
           
        </div>
        
      
    
</div>